
body, html {
    height: 100%;
    margin: 0;
}
.bg {
    /* The image used */
    background-image: url("anhnen.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    color: #4CAF50;
}
button{
    text-align: center;
}