<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>view</title>
    <style>
    img{
    width:50px;
    height: 50px;
    }
    div{
    float: left;
    }
    </style>
</head>
<body>
<a href="/">back to index</a>
<form th:data="${product}">
<div >
    <ul><img th:src="${product.image}"> </ul>
    <ul th:text="${product.masp}"></ul>
    <ul th:text="${product.nameProduct}"></ul>
    <ul th:text="${product.gia}"></ul>
</div>
</form>
</body>
</html>