<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>User register</title>
</head>
<body  >
<center>
<form  action="/" th:action="@{/}" th:object="${user}" method="POST">
    <div >
        <input type="text" th:field="*{firtName}" placeholder="Firt Name *"/>
        <p th:if="${#fields.hasErrors('firtName')}" th:errors="*{firtName}">Name Error</p>
    </div>
    <div >
        <input type="text" th:field="*{lastName}" placeholder="Last Name *"/>
        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</p>
    </div>
    <div >
        <input type="text" th:field="*{phoneNumber}" placeholder="Phone number"/>
        <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">phone number Error</p>
    </div>
    <div >
        <input type="text" th:field="*{age}" placeholder="Age"/>
        <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</p>
    </div>
    <div >
        <input type="text" th:field="*{email}" placeholder="Email Name *"/>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>
    </div>
    <div>
        <input type="submit" class="btnSubmit" value="Login" />
    </div>
    </div>
</form>
</center>
</body>
</html>